html {

	--color-body-background: #fef8f9;
	--color-body-text: #3e3839;
	--color-body-border: #9e9899;

	--color-accent: #c62b0c;
	--color-accent-text: #fff;
	--color-heading: #1e1819;

}

.night-theme {

	--color-body-background: #2e2829;
	--color-body-text: #cec8c9;
	--color-body-border: #9e9899;

	--color-accent: #f56d51;
	--color-accent-text: #fff;
	--color-heading: #eee8e9;

}
