html {

	--font-family-generic: 'Noto Serif', serif;
	--font-family-heading: 'Noto Serif', serif;
	--font-family-site-title: 'Noto Serif', serif;

	--font-size-generic: 137.5%;
	--font-size-h1: 2.618em;
	--font-size-h2: 2.058em;
	--font-size-h3: 1.618em;
	--font-size-h4: 1.272em;

	--font-size-pre: .9375em;

	--font-size-header: 16px;
	--font-size-site-title: 1em;

	--font-size-entry-meta: .809em;

	--font-size-footer: 16px;

}
